body {
  font-family: var(--sans);
  background: var(--bgcolor);
  color: var(--secondarycolor);
}

body,
body[data-theme="dark"] {
  --bgcolor: #22212c;
  --cardcolor: #302f3d;
  --primarycolor: #f08b42;
  --secondarycolor: #f0e4db;
}

body[data-theme="light"] {
  --bgcolor: #f9f9f9;
  --cardcolor: #dcdcdc;
  --primarycolor: #ff5602;
  --secondarycolor: #212121;
}

@layer variables {
  :root {
    --mspace1: 0.25rem;
    --mspace2: 0.5rem;
    --mspace3: 1rem;
    --mspace4: 1.5rem;
    --space1: 0.5rem;
    --space2: 1.5rem;
    --space3: 2rem;
    --space4: 4rem;

    --serif: Georgia, Times, "Times New Roman", serif;
    --sans: Arial, "Helvetica Neue", Helvetica, sans-serif;
    --monospace: "Courier New", Courier, "Lucida Sans Typewriter", monospace;

    --b1: 0.5rem;
    --b2: 1rem;
    --b3: 1.5rem;
    --bfull: 50%;

    --simpleshadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    --glasshadow: 2px 2px 2px rgba(0, 0, 0, 0.2),
      inset -5px -5px 5px rgba(0, 0, 0, 0.2),
      inset 5px 5px 5px rgba(255, 255, 255, 0.2);
    --insideshadow: inset -1px -2px 3px rgba(255, 255, 255, 0.2),
      inset 1px 2px 3px rgba(0, 0, 0, 0.5);
    --buttonshadow: 1px 2px 1px rgba(0, 0, 0, 0.7),
      inset 1px 2px 1px rgba(255, 255, 255, 0.7);

    --timing: cubic-bezier(0.26, 0.53, 0.74, 1.48);
  }
}

@layer reset {
  :root,
  body {
    box-sizing: border-box;
    height: 100%;
    line-height: 1.5;
  }

  :root:focus-within {
    scroll-behavior: smooth;
  }

  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    text-decoration: none;
  }

  ul[role="list"],
  ol[role="list"],
  menu[role="list"] {
    list-style: none;
  }

  @media (prefers-reduced-motion: reduce) {
    :root:focus-within {
      scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
      animation-delay: -1ms !important;
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      background-attachment: initial !important;
      scroll-behavior: auto !important;
      transition-duration: 0s !important;
      transition-delay: 0s !important;
    }
  }
}
